<div 
id="form-container" 
class="w-full h-screen flex justify-center items-center">

    <div 
    class="form-step w-1/5 h-4/5 bg-no-repeat bg-cover bg-center
    rounded-xl text-white"
    >

        <div class="step items-center w-full flex pt-8 pl-6">
            <div class="step-num w-[10%] h-7 flex justify-center mr-5 border rounded-3xl">1</div>
            <div class="step-text">
                <p class="uppercase font-thin">Step 1</p>
                <p class="uppercase font-semibold">Your Info</p>
            </div>
        </div>

        <div class="step items-center w-full flex pt-8 pl-6">
            <div class="step-num w-[10%] h-7 flex justify-center mr-5 border rounded-2xl">2</div>
            <div class="step-text">
                <p class="uppercase font-thin">Step 2</p>
                <p class="uppercase font-semibold">Select Plan</p>
            </div>
        </div>

        <div class="step items-center w-full flex pt-8 pl-6">
            <div class="step-num w-[10%] h-7 flex justify-center mr-5 border rounded-2xl">3</div>
            <div class="step-text">
                <p class="uppercase font-thin">Step 3</p>
                <p class="uppercase font-semibold">Add-Ons</p>
            </div>
        </div>

        <div class="step items-center w-full flex pt-8 pl-6">
            <div class="step-num w-[10%] h-7 flex justify-center mr-5 border rounded-2xl">4</div>
            <div class="step-text">
                <p class="uppercase font-thin">Step 4</p>
                <p class="uppercase font-semibold">Summary</p>
            </div>
        </div>

    </div>

    <div class="form-field w-2/5 h-4/5 text-(--color-blue-950)">
        
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        
            <!-- Step 1 -->

            <div *ngIf="formStep === 1">

                <h1>Personal info</h1>
                <p>Please provide your name, email address and phone number.</p>
                
                <div>
                    <label for="name">Name</label>
                    <input 
                        type="text" 
                        id="name" 
                        name="name" 
                        placeholder="e.g. Evan Fong"
                        [(ngModel)]="userInfo.name" 
                        required
                        >
                </div>
    
                <div>
                    <label for="email">Email Address</label>
                    <input 
                        type="email"
                        id="email" 
                        name="email" 
                        placeholder="e.g. evanfong@can.com"
                        [(ngModel)]="userInfo.email" 
                        required
                        >
                </div>
    
                <div>
                    <label for="phoneNumber">Phone Number</label>
                    <input 
                        type="tel"
                        id="phoneNumber" 
                        name="phoneNumber" 
                        placeholder="e.g. evanfong@can.com"
                        [(ngModel)]="userInfo.phoneNumber"
                        required
                        >
                </div>
    
                <div class="btn">
                    <button 
                        type="submit"
                        (click)="nextStep()"
                        >
                        Next Step
                    </button>
                </div>
            
            </div>

            <!-- Step 2 -->

            <div *ngIf="formStep === 2">

                <h1>Select plan</h1>
                <p>Please provide your name, email address and phone number.</p>
                
                
    
                <div class="btn">
                    <button 
                        type="submit"
                        (click)="nextStep()"
                        >
                        Next Step
                    </button>
                </div>
            
            </div>

            <!-- Step 3 -->

            <div *ngIf="formStep === 3">

                <h1>Add-Ons</h1>
                <p>Please provide your name, email address and phone number.</p>
                
                
    
                <div class="btn">
                    <button 
                        type="submit"
                        (click)="nextStep()"
                        >
                        Next Step
                    </button>
                </div>
            
            </div>

            <!-- Step 4 -->

            <div *ngIf="formStep === 4">

                <h1>Summary</h1>
                <p>Please provide your name, email address and phone number.</p>
                
                
    
                <div class="btn">
                    <button 
                        type="submit"
                        >
                        Next Step
                    </button>
                </div>
            
            </div>

            <!-- End Form -->

        </form>

    </div>


</div>
